<!-- <div class="bg-light p-5 text-center">
    <h1>Hello Test Component</h1>
    <div class="container">
        <div class="row">
            <input type="text" class="form-control" placeholder="Enter Your Name" (input)="getInputValue($event)">
            <p>{{ inputValue }}</p>
        </div>
    </div>
</div> -->

<!-- ================================ -->

<!-- <div class="bg-light p-5 text-center">
    <h1>Hello Test Component</h1>
    <h2 #myTrack>Hello Mearn Track</h2>
    <div class="container">
        <div class="row">
            <input type="text" class="form-control" placeholder="Enter Your Name" (input)="geHeadValue(myTrack)">
            <p>{{ headContent }}</p>
        </div>
    </div>
</div> -->

<!-- ================================ -->

<!-- <div class="bg-light p-5 text-center">
    <h1>Hello Test Component</h1>
    <div class="container">
        <div class="row">
            <input #myInput type="text" class="form-control" placeholder="Enter Your Name">
            <p></p>
            <button class="btn btn-dark" (click)="getRefValue()">Click</button>
        </div>
    </div>
</div> -->